data
input
wandb
exp
__pycache__
.vscode
.vscode-server
*.ipynb
.ipynb_checkpoints
*.pt
*.ts
*.csv
.cache
.conda
.config
.ipython
.jupyter
.local
.nv
.ipynb_checkpoints
__pycache__
.bashrc
.netrc
.profile
.viminfo
.wget-hsts
.gitconfig
db